@media (max-width: 479px){
.slider-container rev_slider_wrapper{
    height: 168px
}
}

.modal {
    /* padding: 0 !important; */
    z-index: 999999 !important; 
  }
  .modal .modal-dialog {
    /* width: 100% !important;
    max-width: none !important;
    height: 100% !important;
    margin: 0 !important; */
  }
  .modal .modal-content {
    /* height: 100% !important;
    border: 0 !important;
    border-radius: 0 !important; */
  }
  .modal .modal-body {
    /* overflow-y: auto !important; */
  }
  .modal-backdrop
{
    opacity:0.7 !important;
    z-index: 999988 !important; 
}

