.modal {
    /* padding: 0 !important; */
    z-index: 2147483647 !important; 
  }
  .modal .modal-dialog {
    /* width: 100% !important;
    max-width: none !important;
    height: 100% !important;
    margin: 0 !important; */
  }
  .modal .modal-content {
    /* height: 100% !important;
    border: 0 !important;
    border-radius: 0 !important; */
  }
  .modal .modal-body {
    /* overflow-y: auto !important; */
  }
  .modal-backdrop
{
    opacity:0.7 !important;
    z-index: 2147483646 !important; 
    position: fixed !important;
}

#hamburger{
  position: absolute !important;
  right: 14px !important;
  
}

#searchy{
  position: absolute !important;
  right: 50px !important;
}

#accounty{
  position: absolute !important;
  right: 135px !important;
}

#carty{
  position: absolute !important;
  right: 90px !important;
}

#Plogo{
  position: absolute !important;
  z-index: 0 !important;
}

#main-header--mobile-nav{
  top: 50px !important;
}


.ham {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}